<h4>Probando HTTP desde Angular</h4>

<div class="container">
  <h5>Listado de Usuarios</h5>
  <div class="row">
    <div class="col-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Username</td>
            <td>Email</td>
            <td>*</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usu of usuarios">
            <td>{{ usu.id }}</td>
            <td>{{ usu.name }}</td>
            <td>{{ usu.username }}</td>
            <td>{{ usu.email }}</td>
            <td><button (click)="eliminarUsuario(usu.id)" class="btn btn-primary">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>Formulario:</h5>
      <div class="form-group">
        <label for="controlName">Nombre</label>
        <input type="text" [(ngModel)]="usuarioAgregar.name" class="form-control" id="controlName" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="controlApellido">Apellidos</label>
        <input type="text" [(ngModel)]="usuarioAgregar.surname" class="form-control" id="controlApellido" placeholder="Apellido">
      </div>
      <div class="form-group">
        <label for="controlEmail">Email</label>
        <input type="email" [(ngModel)]="usuarioAgregar.email" class="form-control" id="controlEmail" placeholder="Email">
      </div>
      <button (click)="nuevoUsuario()" class="btn btn-primary">Añadir</button>
    </div>
  </div>
</div>

