<p>Seccion 3: <label *ngIf="nombrePersona">Protagonizada por: {{ nombrePersona }}</label></p>


<h4>Listado de Productos: </h4>

<table class="table table-striped">
  <thead>
    <tr>
      <td>ID</td>
      <td>Fabricante</td>
      <td>Titulo</td>
      <td>Descripcion</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of productos">
      <td>{{ prod.Id }}</td>
      <td>{{ prod.Maker }}</td>
      <td>{{ prod.Title }}</td>
      <td>{{ prod.Description }}</td>
    </tr>
  </tbody>
</table>
